extends base.pug
include mixins/video

block content
    form(method="GET").search__form
        input(placeholder="search by title",name="keyword", type="text")
        input(type="submit", value="search now!")

    div.video-grid
        each video in videos
            +video(video)